.profile-button{
  font-size: 30px;
  background-color: #ffffff;
  color: #3aa7ff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, color 0.3s;
}
.profile-button:hover {
    background-color: #3aa7ff;
}


body{
  font-family: 'Poppins', sans-serif;
  background-color: #121212;
  color: #ffffff;
  min-height: 100vh;
}

header{
  color: #3aa7ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: #1e1e1e; 
  border-radius: 8px;
  margin: 20px auto;
  margin-bottom: 50px;
  max-width: 2000px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  margin-left: 40px;
  opacity: 0.7;
  transition: opacity 0.3s, color 0.3s;
}
nav ul li a:hover{
  opacity: 1;
  color: #3aa7ff;
}

/* Diet & Trainig Section  */

h1.programs-title{
  text-align: center;
  font-size: 50px;
  margin-top: 50px;
  color: #3aa7ff;
}

p.programs-description{
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 50px;
  color: #ffffff;
}

.programs{
  margin-top: 200px;
  margin-bottom: 100px;
  height: 600px;
  position: relative;
}

.training{
  background-color: #3aa7ff;
  border-radius: 10px;
  padding: 10px;
  padding-bottom: 100px;
  text-align: center;
  width: 500px;
  height: 420px;
  margin-left: 300px;
  transition: transform 0.3s ease, border-color 0.3s ease;
}
.training:hover {
      transform: scale(1.1);      
      border-color: #3aa7ff;
}


.training img{
  width: 100%;
  height: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}



.diet{
  background-color: #3aa7ff;
  border-radius: 10px;
  padding: 10px;
  padding-bottom: 90px;
  text-align: center;
  width: 500px;
  height: 420px;
  margin-left: 1000px;
  margin-top: -525px;
  transition: transform 0.3s ease, border-color 0.3s ease;
}
.diet:hover {
      transform: scale(1.1);      
      border-color: #3aa7ff;
}

.diet img{
  width: 100%;
  height: 410px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.training h3{
  color: #ffffff;
  font-size: 25px;
  
}

.diet h3{
  color: #ffffff;
  font-size: 25px;
  
}